/* =================================
PAGE MONIKER SECTION 
================================= */

.page__moniker {
	margin: 0 auto;
	height: 90px;
	box-sizing: border-box;
	z-index: 0;
}

.page__title {
	width: 150px;
	height: 50px;
	margin-top: 40px;
	border: 2px solid white;
	font-size: 15px;
	letter-spacing: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: -1;
	opacity: 0;
	transition: opacity 3s ease-in;
}

.showPageMoniker {
	opacity: 1;
}

.page__title::before,
.page__title::after {
	position: absolute;
	z-index: 0;
	transition: 1s;
	content: '';
}

.page__title::before {
	height: 50px;
	width: 130px;
	border-top: 2px solid skyblue;
	border-bottom: 2px solid skyblue;
}

.page__title::after {
	width: 150px;
	height: 30px;
	border-left: 2px solid skyblue;
	border-right: 2px solid skyblue;
}
